@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

:root {
    --main-color: #522470;
    --secondary-color: #f8c251;
    --third-color: #ccbbe8;
    --fourth-color: #876686;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main-color);
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.header img.logo {
    height: 50px; /* Adjust as needed */
}
.logo-container {
    display: inline-block;
    background-color: #522470; /* Replace with your desired color */
    border-radius: 50%;
    padding: 10px; /* Adjust the padding to increase/decrease the background area */
}

.logo {
    display: block;
    border-radius: 50%;
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
}


/* Navigation styles */
nav ul {
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* Footer styles */
.footer {
    background-color: var(--fourth-color);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Two-sided section styles */
.section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 50px;
}

.section__split {
    flex: 1;
    padding: 20px;
}

.section__split--image img {
    max-width: 100%;
    height: auto;
}

.section__split--text {
    max-width: 600px; /* Adjust as needed */
}

/* Animations and hover effects */
h1 {
    position: relative;
    font-size: 2.5rem;
    color: var(--secondary-color);
}

h1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

h1:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

/* Responsive design */
@media (max-width: 768px) {
    .header, .footer {
        position: relative;
    }

    .section {
        flex-direction: column;
    }

    .section__split {
        width: 100%;
    }
}
