@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

:root {
    --main-color: #522470;      /* Primary color for backgrounds */
    --secondary-color: #f8c251; /* Secondary color for accents and text */
    --third-color: #ccbbe8;     /* Tertiary color for alternative elements */
    --fourth-color: #876686;    /* Quaternary color for footer background */
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--main-color);
    color: var(--secondary-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--third-color);
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo-container {
    display: inline-block;
    padding: 5px;
}

.logo {
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 400;
}

nav ul li a.active, 
nav ul li a:hover {
    color: var(--main-color);
    background-color: var(--secondary-color);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
}

.section__split {
    flex-basis: 100%;
    margin: 1rem;
}

.section__split--image img {
    max-width: 100%;
    height: auto;
}

.section__split--text {
    text-align: center;
}

.footer {
    background-color: var(--fourth-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 10px 0;
    position: relative; /* changed from fixed to relative */
    width: 100%;
}

.custom-shape-divider-bottom-1699715057 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1699715057 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1699715057 .shape-fill {
    fill: var(--secondary-color);
}

@media (max-width: 768px) {
    .header, .footer {
        position: relative;
    }

    .section {
        padding: 1rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}
